<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>




	<div class="container py-4">
		<div class="card-header" th:text="${titulo}"></div>
		<div class="card-body">
			<h4 class="card-title ">
				<!--  
					<a sec:authorize="hasRole('ROLE_ADMIN')"   class="btn btn-primary btn-xs" th:href="@{/form}">Crear
						Clientes</a>
						
						<img class="img-thumbnail rounded float-left"
					style="max-width: 25%;" th:src="@{'/uploads/' + ${producto.foto}}"
					th:alt="${producto.foto}" />
						
					-->
				<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{/form}">Crear
					Productos</a>
			</h4>
			<div class="row">


				<div th:each="producto: ${Productos}" class="col-sm-4">
					<div class="card">
						<!--  
						<img class="card-img"
							src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"
							alt="Vans">
						-->
						<div>
							<a class="btn btn-outline-warning" th:href="@{/ver/} + ${producto.id}" th:text=${producto.id}></a>
						</div>
						<img class="card-img"
							th:src="@{'/uploads/' + ${producto.foto}}"
							th:alt="${producto.foto}" />
							
						<div class="card-body">
							<h4 class="card-title" th:text="${producto.nombre}"></h4>
							<h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
							<p class="card-text" th:text="${producto.descripcion}">The Vans All-Weather MTE Collection
								features footwear and apparel designed to withstand the elements
								whilst still looking cool.</p>
							<div
								class="buy d-flex justify-content-between align-items-center">
								<div class="price text-success">
									<h5 class="mt-4" th:text="'$'+${producto.precio}">$125</h5>
								</div>
								<a href="#" class="btn btn-success mt-3"><i
									class="fas fa-shopping-cart"></i> Add to Cart</a>
							</div>
							<div>
								<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs"
								th:href="@{/form/}+ ${producto.id}" th:text="'Editar'"></a>
								<a  sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger btn-xs"
								th:href="@{/eliminar/}+ ${producto.id}" th:text="'Eliminar'"
								onclick="return confirm('Are you sure to delet?');"></a>
							</div>
						</div>
					</div>
				</div>



			</div>

		</div>
		<nav th:replace="paginator-nav :: paginator"></nav>
	</div>



	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>